@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* banner style  */
.banner{
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    height: 652px;
    background-size: cover;
    margin: 0 auto;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    
}
.banner-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    border: 1px solid black;
    border-radius: 11px;
    width: 208px;
    height: 66px;
    background-color: black;
    color: white;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;

}

/* shared style  */
.section-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.section-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.Why-Web-Development{
    /* border: 1px solid red; */
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(13, 19, 33, 0.02);
    text-align: center;
}
.two-part-one{
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 150px;
}
.left-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.left-descriptio{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.two-part-two{
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
}
.right-title-two{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.right-descriptio-two{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

/* inspiration */
.inspiration{
        /* border: 1px solid red; */
        width: 946px;
        /* height: 1235px; */
        margin: 0 auto;
        margin-top: 100px;
        text-align: center; 
}

.video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    width: 900px;
    /* height: 1235px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.youtube{
    border-radius: 15px;
}

.my-current-target{
    /* border: 1px solid red; */
    width: 946px;
    height: 463px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center; 
}
.current-target{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.current-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.target-continer{
    display: flex;
    gap: 24px;
}
.skill-html{
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.skill-css{
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.skill-java{
    padding: 30px;
    border-radius: 5px;
    text-align: left;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.skill-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}
.skill-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary-2{
    border: none;
    background: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    text-align: left;
}
/* need-support */
.need-support{
    width: 1140px;
    height: 314px;
    background-image: url(../image/handshake.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2);
    width: 946px;
    align-items: center;
    justify-content: center;
}

.support{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    /* margin-top: 20px; */
    
}

.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input-item{
    width: 500px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.submit{
    width: 120px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
/* Footer section  */

.footer {
    width: 100%;
    padding: 26px 0px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-tittle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social{
    display: flex;
    list-style-type: none;
}
.footer-social li {
    margin: 0px 15px;
  }
  